@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

a[href] {
  color: #000;
}

.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  margin-top: 50px;

  .container {
    display: flex;
    align-items: center;
  }

  .logo {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    text-decoration: none;
  }

  .nav-links {
    display: flex;
    margin-left: auto;
    list-style: none;

    .nav-item {
      position: relative;
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      text-decoration: none;
      transition: opacity 0.3s;

      &.active {
        font-weight: 700;
        &:after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 25px;
          height: 2px;
          background-color: #000;
        }
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.hero {
  padding-top: 50px;
  padding-bottom: 50px;

  .container {
    display: flex;
    align-items: center;
  }

  .text-wrapper {
    width: 50%;

    &.w-full {
      width: 100%;
    }

    .title {
      font-size: 48px;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .description {
      font-size: 22px;
      line-height: 40px;
    }

    .cta {
      display: inline-block;
      padding: 15px 45px;
      margin-top: 20px;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .image-wrapper {
    width: 50%;
    text-align: right;
  }
}

.portfolio-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  // margin-left: -10px;
  // margin-right: -10px;

  .portfolio-item {
    width: 480px;
    height: 360px;
    overflow: hidden;
    // width: 50%;
    // padding-left: 10px;
    // padding-right: 10px;
    // text-align: center;

    .portfolio-image {
      max-width: 100%;
      height: auto;
    }

    .portfolio-name {
      font-size: 24px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-transform: capitalize;
    }

    .portfolio-category {
      color: #999;
    }
  }
}

.contact-links {
  padding: 0;
  padding-left: 15px;
  margin-top: -10px;
  list-style: square;

  .contact-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.flex-container {
  display: flex;
  align-items: center; /* Ini akan memastikan gambar dan teks vertikal terpusat */
  gap: 20px; /* Ini memberikan jarak antara gambar dan teks */
  padding: 100px; /* Ini memberikan jarak antara gambar dan tepi kontainer */
}

.profile-picture {
  width: 372px;
  height: 496px;
  border-radius: 10%;
  margin-bottom: 20px;
  margin-left: auto;
  position: center;
}

.hero2 {
  //   padding-top: 100px;
  //   padding-bottom: 100px;

  .container {
    display: flex;
    align-items: center;
  }

  .text-wrapper {
    width: 50%;

    &.w-full {
      width: 100%;
    }

    .title {
      font-size: 48px;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .description {
      font-size: 22px;
      line-height: 40px;
    }

    .cta {
      display: inline-block;
      padding: 15px 45px;
      margin-top: 20px;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .image-wrapper {
    width: 50%;
    text-align: right;
  }
}

.profile-picture {
  transition: transform 0.3s ease-in-out; /* smooth transition */
  display: block; /* Make sure it's a block element */
}

.profile-picture:hover {
  transform: scale(1.1); /* zoom in by 10% on hover */
}

.portfolio-image {
  transition: transform 0.3s ease-in-out;
  display: block;
  transform-origin: center;
  transform: scale(1); /* This sets the normal scale */
}

.portfolio-image:hover {
  transform: scale(1.1); /* or any other zoom level you prefer */
}

/* Default light theme styles */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark theme styles */

[data-theme="dark"] {
  background-color: #222222;
  color: #ffffff;

  a[href] {
    color: #ffffff; // Change link color in dark mode
  }

  .navbar {
    background-color: #222222; // Add a darker navbar background for dark mode

    .nav-item.active:after {
      background-color: #ffffff; // Change the active underline to white
    }
  }
  .title {
    color: #ffffff; /* This will make the "Portfolio" title turn white in dark mode */
  }

  .description {
    color: #ffffff; /* This will make the "Portfolio" title turn white in dark mode */
  }

  .hero {
    background-color: #222222; // Dark background for the hero section
  }

  .flex-container {
    background-color: #222222; // Dark background for the hero section
  }

  .hero-contact {
    background-color: #222222; // Dark background for the hero section
  }

  .portfolio-item {
    background-color: #222222; // Darker background for each portfolio item
    border: 1px solid #222222; // Maybe add a border for contrast
  }

  .portfolio-name {
    color: #cccccc; // Lighter text color for portfolio name
  }

  .portfolio-category {
    color: #aaaaaa; // Lighter color for the category
  }

  .contact-links {
    color: #ffffff; // Lighter color for the category
  }

  .expertise-wrapper {
    color: #ffffff; // Dark background for the hero section
  }

  // ... Add more styles for other elements as required
}

/* Switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 18px;
  box-sizing: border-box;
}

.slider:before {
  content: attr(data-unchecked);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  content: attr(data-checked);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-toggle-container {
  position: fixed;
  top: 20px; // Adjust as needed
  right: 20px; // Adjust as needed
  z-index: 1000; // Ensures the toggle remains above other content
}

.hero-contact {
  padding-top: 100px;
  padding-bottom: 100px;

  .container {
    display: flex;
    align-items: center;
  }

  .text-wrapper {
    width: 50%;

    &.w-full {
      width: 100%;
    }

    .title {
      font-size: 48px;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .description {
      font-size: 22px;
      line-height: 40px;
    }

    .cta {
      display: inline-block;
      padding: 15px 45px;
      margin-top: 20px;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .image-wrapper {
    width: 50%;
    text-align: right;
  }
}
